<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div align="center">
    <h2>Users</h2>
    <h3><a href="/new">New User</a></h3>
    <table border="1" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Action</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getSurname()}"></td>
            <td th:text="${user.getAge()}"></td>
            <td>
                <a th:href="@{/edit(id=${user.getId()})}">Edit</a>

                <a th:href="@{/delete(id=${user.getId()})}">Delete</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>